{% extends "hello/layout.html" %}
{% block title %}
About US
{% endblock %}
{% block content %}
<p>About page for the Visual Studio Code Django tutorial.</p>
<div class="about-box">
    <p>
        FitTrack is a fitness-focused platform built to help you stay consistent, motivated, and disciplined in your workout journey. Whether you're training at the gym, starting your fitness routine, or working toward specific goals, this app is designed to keep you accountable and focused on building better habits every day.
    </p>

    <a href="#" class="check-link">Check us out</a>
</div>
{% endblock %}