{% extends "layout.html" %}
{% load static %}

{% block title %}{{ inventory.product_name }} | Item Info{% endblock %}

{% block content %}

    <h1>{{ inventory.product_name }} - Item Info</h1>
    
    {% if inventory and inventory.image %}
        <img src="{% static 'images/media/supplement_images/' %}{{ inventory.image }}" 
             alt="{{ inventory.product_name }} Image"
             style="max-width: 300px; height: auto;">
    {% endif %}

    <h2>{{ inventory.product_name }}</h2>
    <div>
    <p>Price: ${{ inventory.cost }}</p>
    <p>Expires: {{ inventory.expiration_date}}</p>
    <p>Quantity: {{ inventory.quantity}}</p>
    <p>Supplement ID: {{ inventory.pk}}</p>
    <p>Related Product ID: {{ inventory.supplement_id}}</p>
    <p> </p>
    </div>
    <div>
        {% if comments %}
            {% for c in comments %}
           
            <p><strong>{{ c.user.username }}</strong>: {{c.message}}</p>
            <small>{{ c.log_date }}</small>
        {% endfor %}
        {% else %}
        <p>No reviews yet.</p>
        {% endif %}
        </div>
    <div>
        <a href="{% url 'accounts:submit_reviews' inventory.pk %}">Leave a Comment</a>
    </div>
    
    <a href="{% url 'accounts:catalog' %}">Back to Catalog</a>
    {% endblock %}