{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <div class="navbar">
	    <a href="{% url 'pages:index' %}" class="navbar-brand">Home</a>
	    <a href="{% url 'pages:catalog' %}" class="navbar-item">Catalog</a>
	    <a href="{% url 'accounts:feedback' %}" class="navbar-item">Feedback</a>
	</div>
    <div class="body-content">
	    {% block content %}{% endblock %}
    </div>
</body>
</html>